# logger_config.yaml
# configuration file for the logging module
version: 1
disable_existing_loggers: false

formatters:
    standard:
        format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
    extensive:
        format: '%(asctime)s - %(filename)s - %(name)s - %(levelname)s - %(funcName)s:%(lineno)d - %(message)s'

handlers:
    console:
        class: logging.StreamHandler
        level: DEBUG
        formatter: standard
        stream: ext://sys.stdout

    debug_file_handler:
        class: logging.handlers.RotatingFileHandler
        level: DEBUG
        formatter: extensive
        filename: ls120.log
        maxBytes: 10485760 # 10MB
        backupCount: 20
        encoding: utf8

# WARNING 
# setting the root level to DEBUG can make things very slow
# but you will miss out on all the nice console and log spam
root:
    level: INFO
    handlers: [console, debug_file_handler]
    propogate: yes

# loggers:
#     ls120:
#         level: DEBUG
#         handlers: [console, debug_file_handler]
